# Flutter
frontend/build/
frontend/.dart_tool/
frontend/.idea/
frontend/.packages
frontend/pubspec.lock

# Python
backend/__pycache__/
backend/venv/
backend/*.pyc
backend/downloads/

# OS
.DS_Store
Thumbs.db

# Sensitive credentials
cookies.txt
backend/cookies.txt